h1 Bienvenue chez Chanvre Quebec
h3 La référence sur le chanvre au <strong>Québec</strong>!
p: a(href="http://github.com/skilstak/harpjs-surge-boilerplate") (Click for boilerplate with git hooks.)
script(src="main.js")
button(class="snipcart-add-item" data-item-id="2" data-item-name="Bacon" data-item-price="3.00" data-item-weight="20" data-item-url="http://associationchanvrequebec.surge.sh" data-item-description="some fresh bacon") Buy Bacon
a(href="#" class="snipcart-checkout") Click here to checkout